In [18]:
import nltk

In [19]:
# Data set link :  
# https://archive.ics.uci.edu/ml/datasets/sms+spam+collection

In [20]:
# read data from the file (corpus / collection of data / dataset) & store it in messages array

#rstrip() method removes any trailing characters (characters at the end a string).

messages = [line.rstrip() for line in open('smsspamcollection/SMSSpamCollection')]

In [21]:
# Check the length of the 'messages' to make sure that, our data is successfully stored in 'messages'
print(len(messages))

5574

In [23]:
messages[0]

'ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [24]:
import pandas as pd

In [30]:
# read the corpus as csv format in messages (Data Frame)
# separator = '\t' because our label and message is separated by '\t' in the corpus
# columns name will be 'label' (ham / spam) and 'message'


messages = pd.read_csv('smsspamcollection/SMSSpamCollection',sep='\t',names=['label','message'])

In [32]:
# head of our Data Frame

messages.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [35]:
# description of our Data Frame

messages.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30